/* Set the size of the div element that contains the map */
#map {
  height: 100%;
  width: 100%;
}
html,
body {
  height: 100%;
}

.fill {
  height: 100%;
}

#friend1,
#friend2,
#friend3,
#friend4,
#friend5 {
  border-style: outset;
  width: max-content;
  margin-bottom: 20px;
  font-weight: bold;
}

.mouse {
  cursor: pointer;
}

button {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
}
